<div class="container" [@slideInFromBottom]>
  <div class="row">
    <div class="col-md-6">
      <img
        src="https://img.freepik.com/free-vector/illustration-businesswoman_53876-5857.jpg?t=st=1711684535~exp=1711688135~hmac=c80a2a2f3138d87cefbdca912793a840176538bda2dade246629f88c17f7ee40&w=740"
        alt="image"
        class="--profile-image"
      />
    </div>
    <div class="col-md-6">
      <div class="--about-content">
        <h1 class="--about-content-Title">
          About <span class="--about-content-subtitle"> Me !</span>
        </h1>
        <br />
        <br />
        <p>
          a software engineer who loves building things for the web. I've been
          doing this for about 2.3 years now, and I've worked with two different
          technologies: OutSystems and Angular.
          <br />
          <br />

          When I started out, I learned how to use OutSystems, which is a tool
          for making web applications quickly without writing a lot of code. It
          was like learning how to build things with LEGO blocks! During this
          time, I got to work on some cool projects and learn a lot about how to
          solve problems with technology.
          <br />
          <br />
          After that, I switched over to Angular, which is a different way of
          building web apps. It's like learning a new language, but once I got
          the hang of it, I really enjoyed it! I've been working with Angular
          for most of my career, and I've learned a ton about how to make
          websites look good and work smoothly.
          <br />
          <br />
          Being a software engineer has been a fun journey for me. I love being
          able to create things that people can use and enjoy. I'm always eager
          to learn new things and take on new challenges, and I'm excited to see
          where my career takes me next!
        </p>
      </div>
    </div>
  </div>
</div>
